<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="{{ site.baseurl }}/javascript/jquery.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/javascript/bootstrap.min.js"></script>

  </body>

</html>
